@import 'node_modules/bootstrap/scss/bootstrap';

body {
  height: 100vh;
}

.content-section {
  background-color: $body-tertiary-bg;
  border-radius: 0.25rem;
  border: $secondary-bg-subtle solid 1px;
  text-wrap: avoid;
}

.table-container {
  border-radius: 0.2rem;
  border: $secondary-bg-subtle solid 1px;
}

.actions-container {
  display: flex;
  justify-content: space-evenly;

  > button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  li:hover {
    cursor: pointer;
  }
}

aside {
  display: flex;
  flex-direction: column;
  background-color: $body-tertiary-bg;
  width: 280px;
  border-right: $secondary-bg-subtle solid 1px;

  i {
    width: 20px;
    text-align: center;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fs-7 {
      transform: translateY(-7px);
    }
  }
}

#page-content {
  overflow: scroll;
}

div#checkoutSidebar {
  background-color: red;
  height: 100vh;
  width: 350px;
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;

  transition: transform 0.5s ease-out;
  border-left: solid 2px $secondary-bg-subtle;

  #checkoutHeader {
    display: flex;
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $body-tertiary-bg;

    border-bottom: solid 1px $secondary-bg-subtle;

    .headerTitle {
      padding: 5px;
      font-size: 1.2rem;
      font-weight: bold;
    }

    button {
      width: 45px;
      height: 45px;
    }
  }

  #checkoutBody {
    height: 100%;
    padding: 6px;
    background-color: $body-bg;
    overflow-y: scroll;

    .checkoutItem {
      margin-bottom: 6px;
      padding: 8px 12px 8px 12px;
      background-color: $body-tertiary-bg;
      border: solid 1px $secondary-bg-subtle;
      border-radius: 10px;

      button {
        border-radius: 5px;
      }

      .checkoutItemControls {
        margin-top: 5px;
        display: flex;

        > span {
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }

  #checkoutFooter {
    padding: 5px;
    background-color: $body-tertiary-bg;
    border-top: solid 1px $secondary-bg-subtle;

    > div {
      padding: 5px 0 5px 0;
    }

    #createReceipt {
      width: 100%;
      height: 40px;
    }
  }
}

@media print {
  aside{
    display: none;
  }
}
