@import 'node_modules/bootstrap/scss/bootstrap';

body {
  height: 100vh;
}

.content-section {
  background-color: $body-tertiary-bg;
  border-radius: 0.25rem;
  border: $secondary-bg-subtle solid 1px;
}

.table-container {
  border-radius: 0.2rem;
  border: $secondary-bg-subtle solid 1px;
}

.actions-container {
  display: flex;
  justify-content: space-evenly;

  > button {
    width: 38px;
  }
}

.pagination {
  li:hover {
    cursor: pointer;
  }
}

aside {
  display: flex;
  flex-direction: column;
  background-color: $body-tertiary-bg;
  width: 280px;
  border-right: $secondary-bg-subtle solid 1px;

  i {
    width: 20px;
    text-align: center;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fs-7 {
      transform: translateY(-7px);
    }
  }
}

#page-content {
  overflow: scroll;
}
