@import 'node_modules/bootstrap/scss/bootstrap';

.container {
  background-color: $body-tertiary-bg;
  border-radius: 0.25rem;
  border: $secondary-bg-subtle solid 1px;
}

.form-select {
  width: 10rem;
  box-sizing: border-box;
}