{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section">
      <h1 class="text-center">Додавання категорії</h1>
    </section>

    <section class="d-flex justify-content-center flex-column align-items-center h-75" >
      <section class="content-section p-3 my-2" style="width: 500px;">

        <form id="addCategoryForm" action="/submit-category" method="POST">

          <div class="row mb-3">
            <div>
              <label for="categoryNumber" class="form-label text-center">Номер категорії</label>
              <span style="color: red">*</span>
              <input type="number" class="form-control text-center" placeholder="Наприклад: 1" id="categoryNumber"
                     name="categoryNumber" required>
            </div>
          </div>

          <div class="row mb-4 ">
            <div>
              <label for="categoryName" class="form-label text-center">Назва</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Наприклад: Овочі та фрукти" id="categoryName"
                     name="categoryName" required>
            </div>
          </div>

          <div class="row">
            <div class="btn-group w-100" role="group" aria-label="Actions">
              <button type="reset" class="btn btn-outline-secondary w-50">
                Очистити
              </button>

              <button type="submit" class="btn btn-primary w-50">
                Додати категорію
              </button>
            </div>
          </div>

        </form>

      </section>
    </section>
  {{/inline}}
{{/layout}}