{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section" style="margin-bottom: 100px;">
      <h1 class="text-center">Додавання працівника</h1>
    </section>

    <section class="d-flex justify-content-center flex-column align-items-center h-75" style="margin-bottom: 150px;">
      <section class="content-section p-3 my-2 mt-5" style="width: 500px;">

        <form id="addEmployeeForm" action="/submit-employee" method="POST">

          <div class="row mb-3">
            <div class="col">
              <label for="employeeId" class="form-label text-center">ID працівника</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Наприклад: EMP002" id="employeeId"
                     name="employeeId" required>
            </div>

            <div class="col">
              <label for="employeeSurname" class="form-label text-center">Прізвище</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Прізвище" id="employeeSurname"
                     name="employeeSurname" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeName" class="form-label text-center">Ім'я</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Ім'я" id="employeeName"
                     name="employeeName" required>
            </div>

            <div class="col">
              <label for="employeePatronymic" class="form-label text-center">По батькові</label>
              <input type="text" class="form-control text-center" placeholder="По батькові" id="employeePatronymic"
                     name="employeePatronymic">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeRole" class="form-label text-center">Роль</label>
              <span style="color: red">*</span>
              <select class="form-select text-center" id="employeeRole" name="employeeRole" required>
                <option value="Cashier">Касир</option>
                <option value="Manager">Менеджер</option>
                <option value="Admin">Адміністратор</option>
              </select>
            </div>

            <div class="col">
              <label for="employeeSalary" class="form-label text-center">Заробітна плата</label>
              <span style="color: red">*</span>
              <input type="number" class="form-control text-center" placeholder="Заробітна плата" id="employeeSalary"
                     name="employeeSalary" min="0" step="0.5" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeStartDate" class="form-label text-center">Дата початку роботи</label>
              <span style="color: red">*</span>
              <input type="date" class="form-control text-center" id="employeeStartDate" name="employeeStartDate" required>
            </div>

            <div class="col">
              <label for="employeeBirthDate" class="form-label text-center">Дата народження</label>
              <span style="color: red">*</span>
              <input type="date" class="form-control text-center" id="employeeBirthDate" name="employeeBirthDate" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeePhoneNumber" class="form-label text-center">Номер телефону</label>
              <span style="color: red">*</span>
              <input type="tel" class="form-control text-center" placeholder="+380000000000" id="employeePhoneNumber"
                     name="employeePhoneNumber" maxlength="13" pattern="^\+[0-9]{1,12}$" required>
            </div>

            <div class="col">
              <label for="employeeCity" class="form-label text-center">Місто</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Місто" id="employeeCity"
                     name="employeeCity" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeStreet" class="form-label text-center">Вулиця</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Вулиця" id="employeeStreet"
                     name="employeeStreet" required>
            </div>

            <div class="col">
              <label for="employeeZipCode" class="form-label text-center">Поштовий індекс</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Поштовий індекс" id="employeeZipCode"
                     name="employeeZipCode" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeePassword" class="form-label text-center">Пароль</label>
              <span style="color: red">*</span>
              <input type="password" class="form-control text-center" placeholder="Пароль" id="employeePassword"
                     name="employeePassword" required>
            </div>
          </div>

          <div class="row">
            <div class="btn-group w-100" role="group" aria-label="Actions">
              <button type="reset" class="btn btn-outline-secondary w-50">
                Очистити
              </button>

              <button type="submit" class="btn btn-primary w-50">
                Додати працівника
              </button>
            </div>
          </div>

        </form>

      </section>
    </section>
  {{/inline}}
{{/layout}}
