{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section" style="margin-bottom: 100px;">
      <h1 class="text-center">Додавання працівника</h1>
    </section>

    <section class="d-flex justify-content-center flex-column align-items-center h-75" style="margin-bottom: 150px;">
      <section class="content-section p-3 my-2 mt-5" style="width: 500px;">

        <form id="addEmployeeForm">

          <div class="row mb-3">
            <div class="col">
              <label for="employeeId" class="form-label text-center">ID працівника</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Наприклад: EMP002" id="employeeId"
                     name="employee_id" minlength="1" maxlength="10" pattern="\S+" autocapitalize="characters" required>
            </div>

            <div class="col">
              <label for="employeeSurname" class="form-label text-center">Прізвище</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Прізвище" id="employeeSurname"
                     name="employee_surname" minlength="3" maxlength="50" autocapitalize="words" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeName" class="form-label text-center">Ім'я</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Ім'я" id="employeeName"
                     name="employee_name" minlength="3" maxlength="50" autocapitalize="words" required>
            </div>

            <div class="col">
              <label for="employeePatronymic" class="form-label text-center">По батькові</label>
              <input type="text" class="form-control text-center" placeholder="По батькові" id="employeePatronymic"
                     name="employee_patronymic" minlength="3" maxlength="50" autocapitalize="words">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeRole" class="form-label text-center">Роль</label>
              <span style="color: red">*</span>
              <select class="form-select text-center" id="employeeRole" name="employee_role" required>
                {{#each rolesDict}}
                  <option value="{{@index}}">{{this.[1]}}</option>
                {{/each}}
              </select>
            </div>

            <div class="col">
              <label for="employeeSalary" class="form-label text-center">Заробітна плата</label>
              <span style="color: red">*</span>
              <input type="number" class="form-control text-center" placeholder="Заробітна плата" id="employeeSalary"
                     name="employee_salary" min="7000" step="0.01" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeStartDate" class="form-label text-center">Дата початку роботи</label>
              <span style="color: red">*</span>
              <input type="date" class="form-control text-center" id="employeeStartDate" name="employee_start_date" required>
            </div>

            <div class="col">
              <label for="employeeBirthDate" class="form-label text-center">Дата народження</label>
              <span style="color: red">*</span>
              <input type="date" class="form-control text-center" id="employeeBirthDate" name="employee_birth_date" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeePhoneNumber" class="form-label text-center">Номер телефону</label>
              <span style="color: red">*</span>
              <input type="tel" class="form-control text-center" placeholder="+380000000000" id="employeePhoneNumber"
                     name="employee_phone_number" minlength="13" maxlength="13" pattern="^\+[0-9]{1,12}$" required>
            </div>

            <div class="col">
              <label for="employeeCity" class="form-label text-center">Місто</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Місто" id="employeeCity"
                     name="employee_city" minlength="3" maxlength="50" autocapitalize="words" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeeStreet" class="form-label text-center">Вулиця</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Вулиця" id="employeeStreet"
                     name="employee_street" minlength="3" maxlength="50" autocapitalize="words" required>
            </div>

            <div class="col">
              <label for="employeeZipCode" class="form-label text-center">Поштовий індекс</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Поштовий індекс" id="employeeZipCode"
                     name="employee_zip_code" minlength="9" maxlength="9" pattern="\S+" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="employeePassword" class="form-label text-center">Пароль</label>
              <span style="color: red">*</span>
              <input type="password" class="form-control text-center" placeholder="Пароль" id="employeePassword"
                     minlength="8" name="password_raw" pattern="\S+" required>
            </div>
          </div>

          <div class="row">
            <div class="btn-group w-100" role="group" aria-label="Actions">
              <button type="reset" class="btn btn-outline-secondary w-50">
                Очистити
              </button>

              <button type="submit" class="btn btn-primary w-50">
                Додати працівника
              </button>
            </div>
          </div>

        </form>

      </section>
    </section>

    <div class="modal fade" id="form-result" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="form-result-title">...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="form-result-body">
            ...
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layout}}
