.navbar-brand {
    color: #144836;
    font-weight: 500; 
    transition: color 1s ease, font-weight 1s ease;
}

.navbar-brand:hover {
    color: #0f3f2e; 
    font-weight: 700; 
}

.nav-item {
    margin-bottom: 10px;
}

.sidebar {
    background-color: #ccc;
}

.nav-link,
.nav-link.active {
    color: #186652;
}

.nav-link:hover {
    color: #0b3425;
}