{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section mb-5">
      <h1 class="text-center">Інформація про товар</h1>
    </section>

    <section class="d-flex justify-content-center flex-column align-items-center h-75" >
      <section class="content-section p-3 my-2" style="width: 500px;">
        <div class="row mb-3">
          <div class="col">
            <strong>UPC:</strong>
            <span>835492647199</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>UPC акційний:</strong>
            <span>835346892595</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>ID предмету:</strong>
            <span>2</span>
          </div>
        </div>

        <!-- назву я написала чисто для зручності, шоб розуміти, який предмет
         ми хочемо розмістити в магазині. тут треба запитом цю інформацію вивести з таблички Product-->
        <div class="row mb-3">
          <div class="col">
            <strong>Назва предмету:</strong>
            <span>Банан</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Ціна продажу:</strong>
            <span>90</span>
            <span>грн</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Кількість товарів:</strong>
            <span>300</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Акційний товар:</strong>
            <span>Ні</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Дата виробництва:</strong>
            <span>2024-04-15</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Дата закінчення терміну придатності:</strong>
            <span>2024-10-15</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button id="print-button" type="button" class="btn btn-outline-success w-100">
              Надрукувати звіт
            </button>
          </div>
        </div>

      </section>
    </section>
  {{/inline}}
{{/layout}}
