{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section mb-5">
      <h1 class="text-center">Інформація про клієнта</h1>
    </section>

    <section class="d-flex justify-content-center flex-column align-items-center h-75" >
      <section class="content-section p-3 my-2" style="width: 500px;">
        <div class="row mb-3">
          <div class="col">
            <strong>Номер картки клієнта:</strong>
            <span>CARD001</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Прізвище:</strong>
            <span>Johnson</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Ім'я:</strong>
            <span>Michael</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>По батькові:</strong>
            <span>Alexander</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Номер телефону:</strong>
            <span>+1234567890</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Місто:</strong>
            <span>New York</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Вулиця:</strong>
            <span>Main St.</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Поштовий індекс:</strong>
            <span>10001</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Відсоток знижки:</strong>
            <span>10%</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary btn-sm w-100">
              Надрукувати звіт
            </button>
          </div>
        </div>

      </section>
    </section>
  {{/inline}}
{{/layout}}
