{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section">
      <h1 class="text-center">Інформація про категорію</h1>
    </section>

    <section class="d-flex justify-content-center flex-column align-items-center h-75">
      <section class="content-section p-3 my-2" style="width: 500px;">

        <div class="row mb-3">
          <div class="col">
            <strong>Номер категорії:</strong>
            <span>1</span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <strong>Назва категорії:</strong>
            <span>Овочі та фрукти</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button id="print-button" type="button" class="btn btn-primary w-100">
              Надрукувати звіт
            </button>
          </div>
        </div>

      </section>
    </section>
  {{/inline}}
{{/layout}}
