{{#> layout }}
  {{#*inline "pageContent"}}

    <section class="d-flex justify-content-center flex-column align-items-center h-100" >

    {{#ifEquals category null}}
        <section class="content-section" style="width: 700px;">
          <h1 class="text-center m-3">Таку категорію не знайдено</h1>
        </section>
    {{else}}
      <section class="content-section p-3 my-2" style="width: 500px;">

        <form id="editCategoryForm">

          <div class="row mb-3">
            <div>
              <label for="categoryNumber" class="form-label text-center">Номер категорії</label>
              <input type="number" class="form-control text-center" placeholder="Наприклад: 1" id="categoryNumber"
                     name="category_number" min="0" value="{{category.category_number}}" readonly required>
            </div>
          </div>

          <div class="row mb-4 ">
            <div>
              <label for="categoryName" class="form-label text-center">Назва</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Наприклад: Овочі та фрукти"
                     id="categoryName" name="category_name" minlength="3" maxlength="50" value="{{category.category_name}}" required>
            </div>
          </div>

          <div class="row">
            <div>
              <button type="submit" class="btn btn-primary w-100">
                Зберегти зміни
              </button>
            </div>
          </div>

        </form>

      </section>
    {{/ifEquals}}

    </section>
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="infoModalTitle">...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="infoModalBody">
            ...
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layout}}
