{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section">
      <h1 class="text-center">Вітаємо, {{currentUser.employee_name}}</h1>
    </section>

    <section class="content-section p-2 my-2">
      <div class="mb-2 mt-1">
        <h2 class="text-center" style="color: #5b00ff">Інтернет-магазин "Злагода"</h2>
        <h4 class="text-center" style="color: #401379">З нами онлайн шопінг зручніший!</h4>

        <div class="text-center">
          <img src="/views/pages/images/zlahoda.png" alt="Злагода" />
        </div>
      </div>
    </section>

  {{/inline}}
{{/layout}}