{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section">
      <h1 class="text-center">Предмети</h1>
    </section>

    <section class="content-section mt-2">
      <div>
        <select class="form-select" aria-label="Default select example">
          <option selected>Категорія</option>
          <option value="1">Фрукти</option>
          <option value="2">Овочі</option>
          <option value="3">Молочні вироби</option>
        </select>
      </div>

    </section>

  {{/inline}}
{{/layout}}